body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: azure;
  color: teal;
}
h1,
h4,
p {
  text-align: center;
}

.homepageLinks {
  display: flex;
  justify-content: space-evenly;
}
a:link {
  color: navy;
}
a:visited {
  color: grey;
}
img {
  max-width: 40%;
  max-height: auto;
  display: block;
  margin: 40px auto;
  border-radius: 6px;
}
